.contact-us {
  text-align: center;
  padding: 2rem 0;
  height: 100vh;
}

.contact-us .section-title {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.8;
}

button:hover {
  background-color: #0056b3;
  opacity: 1;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.auth-buttons {
  display: flex;
  justify-content: space-around
}
